

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration:none;
    
}
html {

    font-family: "Open Sans", sans-serif;
}
/* navbar */
#navbar {
    color:#ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 75px;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    
}
#navbar ul li a {
    background-color: #336ea2;
    color: white;
    padding: 0.75rem;
    box-shadow: none;
    
}

#navbar ul li a:hover {
    background: #0d0368;
    border-radius: 11px;
}
/* homesection */
#home {
    
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    padding:15px;
    
}
#home img{
    max-width: auto;
    height: auto;
    border-radius:100px;

}

#home .name h2{

    margin-bottom:0.75rem;

}
#home .name p {
    opacity: 0.6;
    font-style: italic;
    font-size: small;
    
}
#home a{

    margin-top: 1.25rem;
    background-color: #336ea2;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
}

#home a:hover{
    color:#336ea2;
    background: #ffff;
    border: 0.5px solid #336ea2;

}

a{
   
    height: 55px;
    width: 55px;
    background-color: #f5f6fa;
    border-radius: 50px;
    margin: 2px;
    text-align: center;
    line-height: 65px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
}



a i {
    font-size: 30px;
    transition: all 0.2s linear;


}
a i:hover{
    color: green;
}

a i:active{
    color:red;
}

a:hover{
    transform: scale(1.4);
    
}

ul{
    font-size: 12px;
}

p{

    font-style: italic;
    color: #424949;
    font-size: 10px;
    
}
h5{
    color: #424949 ;
}
h4{

    color:  #424949;
    
    border-bottom: solid 2px;
    
    border-color: rgb(145, 144, 144);
}

#footer-bottom .container{
    
    background: #fff;
    color: #777;
    
    text-align: center;
    
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    margin: 0 auto;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;}

#footer-bottom #back-to-top i {
    font-size: 38px;
    
    position: relative;
    top: 7px;
    
}

